@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply font-mono;
    }

    html, body, #__nuxt { 
        @apply h-full;
    }

    body {
        @apply bg-background text-black;
        @apply selection:bg-black selection:text-accent;

        /* dark mode overrides */
        /*@apply dark:bg-black dark:text-white;*/
        /*@apply dark:selection:bg-black dark:selection:text-accent;*/
    }

    a, button {
        @apply underline underline-offset-4 transition-all px-2 py-1;
    }

    a:not(.no-hover):hover, button:hover {
        @apply no-underline bg-black text-accent;
    }
}

#bg-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://www.transparenttextures.com/patterns/axiom-pattern.png');
    z-index: -1;
}